@media screen and (max-width:375px){

  body.nav-open{
    background: var(--Medium-Gray);
    overflow: hidden;
  }

  body.nav-open header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1718198f;
    z-index: 1;
  }

  nav{
    padding: 2rem;
  }

  .nav-option{
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(0%);
    background: var(--Almost-White);
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 110vh;
    width: 60vw;
    padding: 8rem 2rem;
    box-shadow: 0 0 0 0vw var(--Medium-Gray);
    z-index: 1;
    transition: transform 300ms linear, box-shadow 300ms linear;
  }
  
  .nav-option.nav-open{
    transform: translateX(-100%);
    box-shadow: 0 0 0 40vw var(--Medium-Gray);
  }

  .nav-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.6;
    gap: 0;
  }

  .nav-item button{
    margin-top: 2rem;
  }

  .nav-item span{
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .feature-list, .company-list{
    position: relative;
  }

  .accounts{
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    padding: 4rem 0;
  }

  .hamburger{
    display: block;
    position: relative;
    z-index: 1;
  }




  .heading-content{
    grid-template-columns: repeat(1, 100%);
    padding: 0;
    gap: 0;
  }

  .heading-text{
    text-align: center;
  }

  .main-heading{
    font-size: 3rem;
  }

  .details{
    padding: 3rem 1rem;
  }

  .icon{
    padding: 4rem 1rem;
  }

  .heading-image{
    grid-row-start: 1;
  }
  
  .hero-image{
    width: 100%;
    object-fit: cover;
    height: unset;    
  }

}



@media screen and (min-width: 375px) {
  .feature-list{
    box-shadow: 0 0 50px 0px #00000057;
    padding: 2rem;
    border-radius: 10px;
    z-index: 1;
    top: 0;
    left: -7rem;
    margin: 18px 0px 0 0;
  }
  
  .feature-list.list-open{
    min-height: 154px;
  }

  .feature-list.list-open span{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .company-list{
    box-shadow: 0 0 50px 0px #00000057;
    margin: 0;
    left: 1rem;
    border-radius: 10px;
    padding: 2rem;
    top: 2rem;
  }
  
  .company-list.list-open {
    min-height: 13rem;
  }
}
